---
import Layout from '../../layouts/Layout.astro'
---

<Layout title="Contact">
    <h1>Contact</h1>
</Layout>

<p> 
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, 
    tempore minus? Cupiditate repudiandae asperiores, ipsum dolor 
    odio ad quasi ratione officia amet aliquid qui ducimus 
    distinctio nam neque sapiente pariatur?
</p>